.login {
    @apply py-3 px-8 relative overflow-hidden bg-[#F2F5FC] dark:bg-darkmode-600;
    @include media-breakpoint-down(xl) {
        @apply bg-primary dark:bg-darkmode-800;
    }
    &:before {
        content: "";
        @apply w-[57%] -mt-[28%] -mb-[15%] -ml-[13%] absolute inset-y-0 left-0 transform rotate-[-4deg] bg-[#d0dce0] rounded-[100%] dark:bg-darkmode-400;
        @include media-breakpoint-down(xl) {
            @apply hidden;
        }
    }
    &:after {
        content: "";
        @apply w-[57%] -mt-[20%] -mb-[12%] -ml-[13%] absolute inset-y-0 left-0 transform rotate-[-4deg] rounded-[100%] dark:bg-darkmode-700;
        @include media-breakpoint-down(xl) {
            @apply hidden;
        }
        background-image: url(../../images/uc/08.png);
        background-position: -270px 360px;
        background-size: cover;
    }
    .globe__spin {
        animation-name: spin;
        animation-duration: 200s;
        animation-iteration-count: infinite;
        animation-timing-function: linear; 
    }
    * > .-intro-x:nth-child(1) {
        z-index: calc(50 - 1);
        opacity: 1 !important;
    }
    
    .label-floating input:not(:placeholder-shown) {
        padding-top: 1.4rem;
        font-weight: 600;
    }

.has-error .form-control {
    --tw-border-opacity: 1;
    border-color: rgb(var(--color-danger) / var(--tw-border-opacity)) !important;
}
.has-error .form-label{
    color: rgb(var(--color-danger) / var(--tw-text-opacity)) !important;
}
.has-error .pristine-error {
    margin-top: 1.25rem !important;
    padding-bottom: 1.5rem !important;
}
.label-floating input:not(:placeholder-shown):focus-within ~ label {
    font-size: 0.75rem;
    transition: all 0.2s ease-in-out;
    color: #d1a565;
    top: 0;
    opacity: 1;
}
.label-floating input:not(:placeholder-shown) ~ label {
    font-size: 0.75rem;
    transition: all 0.2s ease-in-out;
    color: #9a9a9a;
    top: 0;
    opacity: 1;
}
.dark .label-floating input:not(:placeholder-shown) {
    padding-top: 1.4rem;
    background-color: transparent;
    font-weight: 600;
    border-color: #d1a565;
    color: #F2F5FC;
}
.dark .label-floating input:not(:placeholder-shown) ~ label {
    font-size: 0.75rem;
    transition: all 0.2s ease-in-out;
    color: #d1a565;
    top: 0;
    opacity: 1;
}
.label-float {
    opacity: 0;
}
.form-control:focus, .form-control:active , [type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
    --tw-ring-color: #d1a565 !important;
    border-color: #d1a565;
    box-shadow: none !important;
}
.login__input {
    border: 1px solid transparent !important;
}
    @keyframes spin {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }
    .login__input {
        /* min-width: 350px; */
        @include media-breakpoint-down(xl) {
            @apply min-w-full;
        }
    }
}
